<td class="form_td form_td_ctrl td_datepicker" data-id="tmpl_visitdate" data-value="${visitdate}" data-showdown="false"></td>
<td class="form_td form_td_ctrl td_combobox" data-id="tmpl_visitstage" data-value="${visitstage}" data-url="../Services/ConfigService.asmx/Select?q=visitstage" data-showdown="false"></td>
<td class="form_td form_td_ctrl td_combobox" data-id="tmpl_checkitem" data-value="${checkitem}" data-url="../Services/ConfigService.asmx/Select?q=checkitem" data-multiple="true" data-showdown="false"></td>
<td class="form_td form_td_ctrl td_combobox" data-id="tmpl_bscanproject" data-value="${bscanproject}" data-url="../Services/ConfigService.asmx/Select?q=bscanproject" data-multiple="true" data-showdown="false"></td>
<td class="form_td form_td_ctrl td_numberbox" data-id="tmpl_height" data-value="${height}"></td>
<td class="form_td form_td_ctrl td_numberbox" data-id="tmpl_weight" data-value="${weight}" data-precision="2"></td>
