<td class="form_td form_td_ctrl td_datepicker" data-id="tmpl_visitdate" data-value="${visitdate}" data-showdown="false"></td>
<td><span class="form_td form_td_ctrl td_numberbox" data-id="tmpl_sbp"  style="width:40%;display:inline-block;"  data-value="${sbp}" data-min="0" data-max="200"></span><span style="display:inline-block;width:15%;">/</span><span class="form_td form_td_ctrl td_numberbox" data-id="tmpl_dbp"  style="width:40%;display:inline-block;" data-value="${dbp}" data-min="0" data-max="200"></span></td>
<td class="form_td form_td_ctrl td_numberbox" data-id="tmpl_weight" data-value="${weight}" data-min="0" data-max="200" data-precision="1"></td>
<td class="form_td form_td_ctrl td_numberbox" data-id="tmpl_heightfundusuterus" data-value="${heightfundusuterus}" data-min="0" data-max="200" data-precision="1"></td>
<td class="form_td form_td_ctrl td_numberbox" data-id="tmpl_abdomencircumference" data-value="${abdomencircumference}" data-min="0" data-max="200" data-precision="1"></td>

<td class="form_td form_td_ctrl td_numberbox" data-id="tmpl_heartrate" data-value="${heartrate}" data-min="0" data-max="200"></td>
<td class="form_td form_td_ctrl td_combobox" data-id="tmpl_edemastatus" data-value="${edemastatus}" data-url="../Services/ConfigService.asmx/Select?q=edemastatus" data-showdown="false"></td>
<td class="form_td form_td_ctrl td_combobox" data-id="tmpl_xianjie" data-value="${xianjie}" data-url="../Services/ConfigService.asmx/Select?q=xianjie" data-showdown="false"></td>

<td style="position:relative;">
    <span class="form_td form_td_ctrl td_numberbox" data-id="tmpl_fetalheartrates" data-value="${fetalheartrates}" data-min="0" data-max="200"></span>
    <div class="form_td form_td_ctrl td_label hidden" style="overflow:hidden;"></div>
    <div class="hidden">
        <span data-id="cache_multifetal" data-value="${multifetal}"></span>
        <!--<input type="text" class="form_td_ctrl td_hidden" value="${followupappointment}" data-id="tmpl_followupappointment" data-value="${followupappointment}" />--> 
    </div>
</td>
<td style="position:relative;">
    <span class="form_td form_td_ctrl td_combobox" data-id="tmpl_fetalpositions" data-url="../Services/ConfigService.asmx/Select?q=position" data-value="${fetalpositions}" data-panelWidth="120" data-panelHeight="300"  event-onchanged="position_changed_summary" data-showdown="false"></span>
    <div class="form_td form_td_ctrl td_label hidden" style="overflow:hidden;">${fetalpositions}</div>
</td>
<td style="position:relative;">
    <span class="form_td form_td_ctrl td_combobox" data-id="tmpl_presentpositions" data-url="../Services/ConfigService.asmx/Select?q=presentposition" data-value="${presentpositions}" data-showdown="false"></span>
    <div class="form_td form_td_ctrl td_label hidden" style="overflow:hidden;">${presentpositions}</div>
</td>
<td style="position:relative;">
    <span class="form_td form_td_ctrl td_combobox" data-id="tmpl_fetalmoves" data-value="${fetalmoves}" data-url="../Services/ConfigService.asmx/Select?q=fetalmove"  data-showdown="false"></span>
    <div class="form_td form_td_ctrl td_label hidden" style="overflow:hidden;"></div>
</td>

<script type="text/javascript" language="javascript">
    function position_changed_summary(args) {
            if (args == null || args == undefined)
                return;
            var sender = args.sender;
            require(["share_services"], function (share) {
                share.position_changed(sender);
            });
        }    
</script>