<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hele.emr.pac.dao.OperativeRecordMapper">
<!--    <select id="queryFirstVisit" parameterType="Intager" resultType="cn.hele.emr.pac.model.OperativeRecord">-->
<!--        SELECT * FROM pac_operative_record-->
<!--        WHERE generalinfoid = #{id}-->
<!--    </select>-->
</mapper>