<div id="tt" class="easyui-tabs" style="width:500px;height:500px;">
    <div title="血压监测" style="display:none;">
        <div id="chart_bp" style="padding:20px;height:400px"></div>
    </div>
    <!--<div title="心率" data-options="" style="overflow:auto;display:none;">
        <div id="chart_heartrate" style="padding:20px;height:400px"></div>
    </div>-->
    <div title="体重监测" data-options="" style="display:none;">
        <div id="chart_weight" style="padding:20px;height:400px"></div>
    </div>
    <div title="宫高图" data-options="" style="display:none;">
        <div id="draw_heightfundusuterus" style="padding:20px;height:400px"></div>
    </div>
    <div title="胎儿生长" data-options="" style="display:none;">
        <div id="draw_bscanmeasurement" style="padding:20px;height:400px"></div>
    </div>
</div>
