<div id="win_importexamorder_wrapper">
    <div class="querywrapper" style="position:relative;">
       <input class="easyui-datebox" id="examorder_reportdate_s" data-options="prompt:'起始 报告时间'" style="width:10%;"  />-<input class="easyui-datebox" id="examorder_reportdate_e" " data-options="prompt:'结束 报告时间'"style="width:10%;" />
        <a class="easyui-linkbutton" id="btn_importexamorder_search"  style="height:23px;width:60px;">检索</a>
        <a class="easyui-linkbutton" id="btn_importexamorder_sync"  style="height:23px;width:60px;">同步</a>
        <div style="position:absolute;right:0px;top:0px;">
            <a class="easyui-linkbutton" id="btn_importexamorder_save"  style="height:23px;width:60px;">保存</a>
        </div>
    </div>
    <div class="clearfix" style="margin-top:10px;">
        <div style="width:100%;">
            <table id="import_examorderlist"></table>
            <div id="selected_examorder_wrapper" style="position:relative;">
                <div id="selected_examorder" style="width:100%;">
                </div>
                <!--<div style="position:absolute;right:0px;top:0px;">
                    <a id="dl_examorder_remove" class="easyui-linkbutton img_wrapper" ><img src="../Images/delete.png" alt=""   /></a>
                </div>-->
            </div>
        </div>
    </div>
</div>