<div class="labcheck_title back_class_light_1">其他</div>
<div style="min-width:200px;" class="labcheck_content">
    <div><span class="span_labcheck_title">NT：</span><span class="span_labcheck_one">{{html nt}}</span></div>
    <div><span class="span_labcheck_title">结构B超：</span><span class="span_labcheck_one">{{html abnormalbscan}}</span></div>
    <div><span class="span_labcheck_title">其他结果：</span>{{html otherresult}}</div>
    <div><span class="span_labcheck_title">最后修改医生：</span>{{html doctorname}}</div>
</div>