<div class="labcheck_title back_class_light_1">36周后检验结果</div>
<div style="width:200px;" class="labcheck_content">
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">血常规：</span><span class="span_labcheck_one">{{html mblood}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">尿常规：</span><span class="span_labcheck_one">{{html murine}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">凝血常规：</span><span class="span_labcheck_one">{{html mcoagulation}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">肝功能：</span><span class="span_labcheck_one">{{html mliverfunction}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">TBA：</span><span class="span_labcheck_one">{{html mtba}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">糖化血红蛋白：</span><span class="span_labcheck_one">{{html mglyhemoglobin}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">GBS：</span><span class="span_labcheck_one">{{html mgbs}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">空腹血糖：</span><span class="span_labcheck_one">{{html mbloodsugar}}</span></div>
</div>