<div class="back_class_light_1 labcheck_title">
    <a id="btn_labcheck_max" style=" cursor:pointer; text-align:center; display:inline-block;  width:100%;height:100%;line-height:30px;">
    <img src="../Images/arrow_right.png" alt="" align="middle"  style="border:0px solid black; display:inline-block; margin-top:9px;" />
    </a>
</div>

<span style=" display:inline-block;height:10px;border-width:0px 0px 0px 0px;" class="border_class_light_1"></span>
<div class="back_class_light_1 labcheck_title">
    <a id="labcheck_btn_28_before" style=" cursor:pointer; text-align:center; display:inline-block;width:100%;" labcheck_28_before="" title="28">28周前</a>
</div>
<span style=" display:inline-block;height:10px;border-width:0px 0px 0px 1px;" class="border_class_light_1"></span>
<div class="back_class_light_1 labcheck_title"> 
    <a id="labcheck_btn_28_36" style=" cursor:pointer; text-align:center; display:inline-block;width:100%;" labcheck_28_36="" title="28-36">28-36周</a>
</div>
<span style=" display:inline-block;height:10px;border-width:0px 0px 0px 1px;" class="border_class_light_1"></span>
<div class="back_class_light_1 labcheck_title">
    <a id="labcheck_btn_36_after" style=" cursor:pointer; text-align:center; display:inline-block;width:100%;" labcheck_36_after="" title="36">36周后</a>
</div>
<span style=" display:inline-block;height:10px;border-width:0px 0px 0px 1px;" class="border_class_light_1"></span>
<div class="back_class_light_1 labcheck_title">
    <a id="labcheck_btn_other" style=" cursor:pointer; text-align:center; display:inline-block;width:100%;" labcheck_other="" title="other">其他</a>
</div>


<span style=" display:inline-block;height:20px;border-width:0px 0px 0px 0px;" class="border_class_light_1"></span>
<div class="back_class_light_1 labcheck_title">
    <a id="highrisk_btn_history" style=" cursor:pointer; text-align:center; display:inline-block;width:100%;" highrisk_history="" title="highrisk_history">高危表</a>
</div>

<span style=" display:inline-block;height:10px;border-width:0px 0px 0px 1px;" class="border_class_light_1"></span>
<div class="back_class_light_1 labcheck_title">
    <a id="chart_btn_bscanmeasurement" style=" cursor:pointer; text-align:center; display:inline-block;width:100%;" chart_bscanmeasurement="" title="bscanmeasurement">胎生长</a>
</div>

<span style=" display:inline-block;height:10px;border-width:0px 0px 0px 1px;" class="border_class_light_1"></span>
<div class="back_class_light_1 labcheck_title">
    <a id="chart_btn_heightfundusuterus" style=" cursor:pointer; text-align:center; display:inline-block;width:100%;" chart_heightfundusuterus="" title="heightfundusuterus">宫高图</a>
    
</div>

<span style=" display:inline-block;height:10px;border-width:0px 0px 0px 1px;" class="border_class_light_1"></span>
<div class="back_class_light_1 labcheck_title">
    <a id="chart_btn_weight" style=" cursor:pointer; text-align:center; display:inline-block;width:100%;" chart_weight="" title="weight">体重图</a>
</div>


   