<div class="labcheck_title back_class_light_1">28周前检验结果</div>
<div style="width:200px;"  class="labcheck_content">
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">血常规：</span><span class="span_labcheck_one">{{html eblood}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">尿常规：</span><span class="span_labcheck_one">{{html eurine}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">凝血常规：</span><span class="span_labcheck_one">{{html ecoagulation}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">致畸五项：</span><span class="span_labcheck_one">{{html eteratogenic}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">肝功能：</span><span class="span_labcheck_one">{{html eliverfunction}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">肾功能：</span><span class="span_labcheck_one">{{html erenalfunction}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">TBA：</span><span class="span_labcheck_one">{{html etba}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">乙肝：</span><span class="span_labcheck_one">{{html ehepatitisb}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">甲肝：</span><span class="span_labcheck_one">{{html ehepatitisa}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">丙肝：</span><span class="span_labcheck_one">{{html ehcv}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">HIV：</span><span class="span_labcheck_one">{{html ehiv}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">梅毒：</span><span class="span_labcheck_one">{{html esyphilis}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">甲功：</span><span class="span_labcheck_one">{{html ethyroidfunction}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">阴道分泌物：</span><span class="span_labcheck_one">{{html evaginaldischarge}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">ECG：</span><span class="span_labcheck_one">{{html eecg}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">唐氏筛查：</span><span class="span_labcheck_one">{{html escreening}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">无创DNA：</span><span class="span_labcheck_one">{{html edna}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">OGTT：</span><span class="span_labcheck_one">{{html eogtt}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">空腹血糖：</span><span class="span_labcheck_one">{{html ebloodsugar}}</span></div>
</div>