<div class="labcheck_title back_class_light_1">28-36检验结果</div>
<div style="width:200px" class="labcheck_content">
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">血常规：</span><span class="span_labcheck_one">{{html lblood}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">尿常规：</span><span class="span_labcheck_one">{{html lurine}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">凝血常规：</span><span class="span_labcheck_one">{{html lcoagulation}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">肝功能：</span><span class="span_labcheck_one">{{html lliverfunction}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">TBA：</span><span class="span_labcheck_one">{{html ltba}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">糖化血红蛋白：</span><span class="span_labcheck_one">{{html lglyhemoglobin}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">GBS：</span><span class="span_labcheck_one">{{html lgbs}}</span></div>
    <div class="div_labcheck_wrapper"><span class="span_labcheck_title">空腹血糖：</span><span class="span_labcheck_one">{{html lbloodsugar}}</span></div>
</div>