<div id="changyongzd_wrapper">
<div>
    <b>使用说明：</b>
    <p>1、在下方诊断名称处输入中文或拼音，即可查询。 </p>
    <p>2、双击<span class="must">左侧列表</span>中的选项即可到<span class="must">右边待选列表</span>中。</p>    
</div>
<div style="margin-bottom:10px;" class="querywrapper">
    <input type="text" id="tb_search"  style="width:100%;"/>
</div>
<table style="width:100%;">	
    <tr> 		
        <td style="width:47%;">
            <div id="dl" style="height:500px;"></div>
        </td>		
        <td style="width:6%; text-align:center; vertical-align:top;">	
            <div>
                <a id="dl_add" class="easyui-linkbutton img_wrapper" ><img src="../Images/right.png" alt=""  /></a><br />
                <a id="dl_add_all" class="easyui-linkbutton img_wrapper" ><img src="../Images/next.png" alt=""   /></a><br />
                <a id="dl_remove_all" class="easyui-linkbutton img_wrapper" ><img src="../Images/prev.png" alt=""   /></a><br />
                <a id="dl_remove" class="easyui-linkbutton img_wrapper" ><img src="../Images/left.png" alt=""   /></a>
            </div>		
        </td>		
        <td style="width:47%;">
            <div id="dr" style="height:500px;"></div>
        </td>	
    </tr>
</table>
<div style="margin-top:30px; text-align:center;">
 <a class="easyui-linkbutton btn_changyongzd_save" >保存</a>
</div>
</div>
<style type="text/css">
    #changyongzd_wrapper .img_wrapper{ display:inline-block;width:20px;height:20px;margin:5px; text-align:center;}
    #changyongzd_wrapper .img_wrapper img{width:10px;height:10px;margin-top:5px;}
</style>