<div id="tip_wrapper" style="width:400px;height:200px;">
<div id="mod_fixidcard_wrapper" class="easyui-panel" style="padding:10px;">
    <table  width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="form_td">原身份证</td>
            <td class="form_td"><input  type="text" name="old_idcard" id="old_idcard"/></td>
        </tr>
        <tr>
            <td class="form_td">新身份证</td>
            <td class="form_td"><input  type="text" name="new_idcard" id="new_idcard"/></td>
        </tr>
        <tr>
            <td  colspan="2" style="text-align:center;padding-top:20px;">
                <a id="link_save" target="_blank">修改</a>
                <a id="link_detailinfo" target="_blank">忽略</a>
            </td>
        </tr>
    </table>
</div>
</div>
<style type="text/css">
.form_td{padding-top:5px;padding-bottom:5px;}
</style>