<div id="win_diagnosis_wrapper">
    <div style="width:30%;float:left;" id="left_wrapper" class="querywrapper">
        <input id="textFilter_diagnosis" name="textFilter_diagnosis" class="easyui-combox" style="width:100%;" />
        <!--<div id="dl" class="easyui-panel" style="overflow:auto;">            
        </div>-->
        <div style="border:1px solid #ededed;width:99.4%; text-align:center; position:relative;" class="mypanel must hidden"><span style=" position: absolute;width:200px;height: 50px;top:50%;left:50%;margin-left:-100px;margin-top:-25px;text-align: center;">请输入疾病查询条件</span></div>
    </div>
    <div style="width:69%;margin-left:31%;">
        <table id="diagnosislist"></table>
    </div>
</div>